.popup__save-button {
  margin: 48px 0 0 0;
  background-color: #000000;
  border: none;
  color: #fff;
  padding: 14.075px 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 551px) {
  .popup__save-button {
    width: 358px;
    align-self: center;
  }
}

@media screen and (max-width: 550px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
  }
}

.popup__save-button_disabled {
  opacity: 0.2;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid #000000;
  color: #000;
  pointer-events: none;
}
