.profile__profession {
font-size: 18px;
line-height: 22px;
margin-top: 16px;
font-weight: normal;
}

@media screen and (max-width: 880px) {
    .profile__profession {
        margin-top: 14px;
    }
}

@media screen and (max-width: 550px) {
    .profile__profession {
        font-size: 14px;
        line-height: 16.94px;
    }
}