.profile__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
}

@media screen and (max-width: 880px) {
    .profile__name {
        margin-top: 26.25px;
    }
}